<div id="tablero">{{eleccionMovimiento}}
  <table>
    <tr class="fila" *ngFor="let item of chessVector">
      <td class="celda" (click)="eleccion(itemSub.x, itemSub.y, itemSub.pieza, itemSub.equipo, itemSub.primeraJugada)"
       *ngFor="let itemSub of item"
       [ngStyle]="{'background-color': itemSub.colorFondo, 'color': itemSub.equipo === 1 ? 'red': 'blue' , 'width': '62px', 'height':'62px', 'text-align': 'center'}">
        {{itemSub.x}} {{itemSub.y}}
      </td>
    </tr>
  </table>
</div>
HOLA